<mat-toolbar>
  <div class="navbar-brand">
    <a class="navbar-logo" href="#">
      <img [src]="logoWhitePath" height="50px">
    </a>
    <a class="navbar-logo" href="#">
      <img [src]="titleWhitePath" height="50px">
    </a>
  </div>
  <p>{{ size }}</p>
  <div class="nav-links">
    <li>
      <a mat-button routerLink="/about" routerLinkActive="mat-accent">O nas</a>
    </li>
    <li>
      <a mat-button routerLink="/offer" routerLinkActive="mat-accent">Oferta</a>
    </li>
    <li>
      <a mat-button routerLink="/animals" routerLinkActive="mat-accent">Mieszkańcy</a>
    </li>
    <li>
      <a mat-button routerLink="/contact" routerLinkActive="mat-accent">Kontakt</a>
    </li>
  </div>
</mat-toolbar>
