.main-content-inner {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.auth-main-container {
  width: 60%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

button {
  margin: 2rem auto 1rem;
  width: 50%;
  background-color: #837d1f;
}

.auth-form-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.text-block {
  display: block;
  margin: 10px auto;

}

.auth-buttons button {
  display: block;
  margin: 1rem auto;
}
