<mat-spinner *ngIf="isLoading"></mat-spinner>

<picture class="home-container">
  <img [src]="mainPhoto" class="main-photo" alt="stable-background">
</picture>

<div *ngIf="!isLoggedIn">
  <h3>Nasza Bajka admin panel</h3>
  <form [formGroup]="loginForm" (submit)="onLogin(loginForm.value)" *ngIf="!isLoading">
    <div class="auth-container">
      <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="email"
          placeholder="Login"
          required
          email
        />
        <mat-error *ngIf="loginForm.get('email').invalid">Your login must be a valid email address.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Password"
          minLength="6"
          required
        />
        <mat-error *ngIf="loginForm.get('password').invalid">Please type your password. Minimum length is 6 characters.</mat-error>
      </mat-form-field>
      <button mat-raised-button [disabled]="loginForm.invalid" color="accent" type="submit">Login</button>
    </div>
  </form>
</div>

<div *ngIf="isLoggedIn && !showConfirmationDialog">
  <div class="confirmation-container">
    <h5>Hey Karina, you are Logged In:)</h5>
    <div>
      <p>If you want to edit list of your animals, you can click button below:  </p>
      <button mat-button routerLink="/animals" routerLinkActive="mat-accent">Horse List</button>
    </div>

  </div>
</div>

<section *ngIf="isLoggedIn && showConfirmationDialog">
  <div class="confirmation-container">
    <h5>Would you like to log out?</h5>
    <div>
      <button mat-button color="secondary" (click)="onDontLogout()">No</button>
      <button mat-button color="primary" (click)="onConfirmLogOut()">Yes, please</button>
    </div>
  </div>
</section>





