.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.contact-section-inner {
  margin: 15px;
  padding: 10px 40px 20px;
  background-color: rgb(248, 236, 201);
  border-radius: 5rem 4rem;
}

mat-form-field {
  width: 400px;
}

.submit-button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 50%;
  background-color: #837d1f;
}

.contact-form {
  padding-bottom: 20px;
}

.links > a {
  color: #837d1f;
  font-weight: 500;
}

.successful-mail {
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #5fb87c;
}
