<div class="main-container">
  <picture class="home-container">
    <img [src]="mainPhoto" class="main-photo" alt="stable-background">
  </picture>
  <div class="main-content-outer" [ngClass]="{
    'mobile-xs': screen === 'xs',
    'mobile-sm': screen === 'sm'
  }">
    <div class="main-content-inner">
      <div class="contact-container">
        <div class="contact-section-inner">
          <div class="contact-section-inner-form">
            <h4>Adres:</h4>
            <p>Stajnia Nasza Bajka<br>
              Przerycie 18,<br>
              47-430 Rudy, Polska</p>
            <p class="links">tel.
              <a href="tel:+48601187432">601187432</a><br>
              <a href="mailto:naszabajka@vp.pl">naszabajka@vp.pl</a>
            </p>
          </div>
        </div>
        <div class="successful-mail" *ngIf="messageSended">
          <span>Wiadomość została wysłana!</span>
        </div>
        <div class="contact-form">
          <h4>Masz pytanie?</h4>
          <form [formGroup]="contactForm" (submit)="onSubmit(contactForm.value)">
            <div class="contact-container">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  formControlName="name"
                  placeholder="Imię"
                  required
                  minlength="3"
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  formControlName="email"
                  placeholder="Twój e-mail"
                  required
                  email
                />
                <mat-error *ngIf="contactForm.get('email').invalid">Proszę podać poprawny adres e-mail.</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  formControlName="subject"
                  placeholder="Temat"
                />
              </mat-form-field>
              <mat-form-field>
                <textarea
                  matInput
                  placeholder="Miejsce na Twoją wiadomość"
                  formControlName="content"
                  required
                  ></textarea>
                <mat-error *ngIf="contactForm.get('content').invalid">Nie można wysłać wiadomości bez treści</mat-error>
              </mat-form-field>
              <button class="submit-button" mat-raised-button [disabled]="
                contactForm.status === 'INVALID' ||
                !contactForm.touched ||
                !contactForm.value.name ||
                !contactForm.value.email ||
                !contactForm.value.content
              " color="primary" type="submit">Wyślij</button>
            </div>
          </form>
        </div>
        <div class="successful-mail fb">
          <span><a href="https://www.facebook.com/stajnianaszabajka" target="_blank">Odwiedź nas również na Facebooku</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
