.contact-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.contact-section-inner {
  margin: 25px;
  padding: 10px 40px 20px;
  background-color: rgba(248, 236, 201, 0.737);
  border-radius: 5rem 4rem;
}

mat-form-field {
  max-width: 800px;
  width: calc(100% - 10px);
  margin: 10px;
}

.submit-button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 50%;
  background-color: #837d1f;
}

.contact-form {
  width: 80%;
  padding: 20px;
}

.contact-form h4 {
  text-align: center;
}

.links > a {
  color: #837d1f;
  font-weight: 500;
}

.successful-mail {
  width: 80%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  color: white;
  background-color: #837d1f;
}

.fb {
  background-color: rgb(248, 236, 201);
  margin-bottom: 20px;
}

.fb > span > a {
  color: #5d5815;
  font-weight: 500;
  text-decoration: none;
}

/* MOBILE SM */
.main-content-outer.mobile-sm {
  width: 100%;
}

.main-content-outer.mobile-sm .contact-container .contact-form {
  width: 100%;
}

/* MOBILE XS */
.main-content-outer.mobile-xs {
  width: 100%;
}

.main-content-outer.mobile-xs .contact-container {
  width: 95%;
}

.main-content-outer.mobile-xs .contact-container .successful-mail {
  width: 90%;
}

.main-content-outer.mobile-xs .contact-container .contact-form {
  width: 100%;
}
