main {
  max-width: 1200px;
  width: 80%;
  margin: 1rem auto;
  /* background-color: rgb(248, 250, 199); */
  justify-content: center;
  display: flex;
}

@media (max-width: 500px){
  main {
    width: 95%
  }
}
