main {
  width: 100%;
  margin: 0;
  justify-content: center;
  min-height: 96%;
  background-color: rgb(250, 250, 250);
}

.main-container {
  width: 100%;
}

.main-photo {
  width: stretch;
}

.main-content-outer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-content-inner {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* MOBILE SM */
.mobile-sm {
  max-width: calc(100vw - 10px);
}

.mobile-sm .styled-section {
  font-size: 14px;
  padding: 0 6vw;
}

.mobile-sm .styled-section .section-inner .curve::after {
  width: 14rem;
}

/* MOBILE XS */
.mobile-xs {
  max-width: calc(100vw - 10px);
}

.mobile-xs .styled-section {
  font-size: 14px;
  padding: 0 6vw;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-direction: column;
}

.mobile-xs .styled-section .section-inner {
  align-items: center;
  text-align: center;
  padding-left: 0;
}

.mobile-xs .styled-section .section-inner .curve {
  height: 200px;
  width: 80%;
}

.mobile-xs .styled-section .section-inner .curve::after {
  width: 14rem;
  border-radius: 50% 40% 50%;
}

.mobile-xs .styled-section .section-inner .curve.left::after {
  transform: translate(5%, 20%);
}

.mobile-xs .styled-section .section-inner .curve.right::after {
  border-radius: 40% 50% 50% 40%;
  transform: translate(5%, 20%);
}

.mobile-xs .styled-section .small-photo {
  height: 240px;
  width: 188px;
  margin: 0;
}

