mat-form-field,
textarea {
  width: 100%;
}

.title {
  margin-bottom: 1rem;
}

button {
  margin-top: 1rem;
  margin-right: 1rem;
}

mat-spinner {
  margin: auto;
}

.image-block {
  margin-bottom: 1rem;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
