<div class="horses-section" *ngIf="postToDelete">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ postToDelete.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="postToDelete.image" alt="Photo of a horse">
    <mat-card-content>
      <p>Właściciel: {{ postToDelete.owner }}</p>
      <p>W Naszej Bajce od: {{ postToDelete.since }}</p>
    </mat-card-content>
    <mat-card-actions>
      <p>Are you sure you want to delete {{ postToDelete.name }}?</p>
      <a mat-raised-button color="primary" [routerLink]="'/animals'">No, go back</a>
      <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="!postToDelete">
  <p>Sorry, there is nothing here to delete :(</p>
  <a mat-raised-button color="primary" [routerLink]="'/animals'">Go back to list</a>
</div>
