html, body { height: 100%; }
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.styled-section {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 400px;
  padding: 0 150px;
}

.styled-section.reverse {
  flex-direction: row-reverse;
}

.section-inner {
  display: flex;
  flex-direction: column;
}

.section-inner.reverse {
  align-items: flex-end;
  text-align: end;
  padding-left: 2rem;
}

.small-photo {
  height: 300px;
  width: 235px;
  border-radius: 2rem;
  z-index: 1;
}

.small-photo.left {
  margin-right: 2rem;
}

.small-photo.right {
  margin-left: 2rem;
}

.curve {
  position: absolute;
  height: 200px;
  width: 100%;
  margin-bottom: 10px;
  top: 0;
}

.curve-text {
  z-index: 2;
}

.curve::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 40% 50% 80%;
  width: 20rem;
  height: 100%;
  opacity: 0.7;
}

.left.curve::after {
  background-color: rgb(229, 241, 215);
  transform: translate(-5%, 50%);
}

.right.curve::after {
  right: 0;
  border-radius: 60% 50% 60% 80%;
  background-color: rgb(226, 231, 165);
  transform: translate(5%, 50%);
}

app-post-create {
  max-width: 800px;
  width: 100%;
}
