mat-spinner {
  margin: auto;
}

mat-card-header {
  justify-content: space-between;
}

.add-button {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.horses-section {
  display: flex;
  flex-wrap: wrap;
  justify-content:center
}

.example-card {
  max-width: 350px;
  margin: 15px;
}

.mat-card-image {
  max-width: fit-content;
}

.mat-card-content p {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}
