<mat-spinner *ngIf="isLoading"></mat-spinner>

<picture class="home-container">
  <img [src]="mainPhoto" class="main-photo" alt="stable-background">
</picture>

<p class="info-text mat-body-1" *ngIf="allHorses?.length <= 0 && !isLoading">No posts added yet!</p>

<div class="add-button" *ngIf="isLoggedIn">
  <a mat-raised-button color="primary" routerLink="/edit">Add New Card</a>
</div>

<div class="horses-section">
  <div *ngFor="let horse of allHorses">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{ horse.name | uppercase }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="horse.image" alt="Photo of a horse">
      <mat-card-content>
        <p>Właściciel: {{ horse.owner }}</p>
        <p>W Naszej Bajce od: {{ horse.since }}</p>
      </mat-card-content>
      <mat-card-actions *ngIf="isLoggedIn">
        <a mat-raised-button color="primary" [routerLink]="'/edit/'+horse.id">Edit</a>
        <button mat-raised-button color="warn" [routerLink]="'/delete/'+horse.id">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
