:host {
  width: 100%;
  max-width: 1100px;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

.post-image {
  width: 100%
}

.post-image img {
  height: 40vh;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
